@inherits NancyRazorViewBase<GetAllAccountsResponse>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Ichnaea.Demo - All Accounts</title>
	</head>

	<body>
		<h2>All Accounts</h2>
		<table>
			<thead>
				<tr><td>Sort Code</td><td>Account Number</td><td>Holder</td></tr>
			</thead>
			<tbody>
				@foreach (var account in @Model.Accounts)
				{
					<tr>
						<td><a href="@account.GetDetailsUri">@account.SortCode</a></td>
						<td><a href="@account.GetDetailsUri">@account.AccountNumber</a></td>
						<td>@account.Holder</td>
					</tr>
				}
			</tbody>
		</table>
		<p>
			<a href="@Model.OpenAccountUri">Open Account</a>
		</p>
	</body>
</html>
